@import './common/var.css';

$van-checkbox-size: 14px;

.van-checkbox {
  overflow: hidden;

  .van-icon-success {
    color: #fff;
    display: block;
    line-height: 1;
    font-size: 12px;
    text-align: center;
    pointer-events: none;
    border: 1px solid $gray-dark;
    width: $van-checkbox-size;
    height: $van-checkbox-size;

    &::before {
      margin: 0 auto;
      line-height: $van-checkbox-size;
    }
  }

  &__input {
    position: relative;
    height: calc($van-checkbox-size + 2px);
    margin-right: 12px;
    float: left;
  }

  &__control {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    margin: 0;
    width: calc($van-checkbox-size + 2px);
    height: calc($van-checkbox-size + 2px);
  }

  &__label {
    display: block;
    margin-left: 28px;
    line-height: calc($van-checkbox-size + 2px);
    color: #111;
  }

  &--round {
    .van-icon-success {
      border-radius: 100%;
    }
  }

  &__control:checked + .van-icon-success {
    border-color: $red;
    background-color: $red;
  }

  &--disabled {
    .van-icon-success {
      border-color: #d1dbe5;
      background-color: transparent;
    }

    .van-checkbox__control:checked + .van-icon-success {
      border-color: #d1dbe5;
      background-color: #d1dbe5;
    }
  }
}
